inputs/songs/*.txt
inputs/songs/*.htm
inputs/songs/*_pliki
inputs/*.txt
inputs/*.htm
inputs/*_pliki
inputs/novels
*.db
target
interproducts
exams
texts
dictionaries
xml/*.xml
xml/kanji
.idea/*
improved_workflow/*
inputs/animetranscripts.wikispaces.com/

