<log4j:configuration debug="true" xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appenders>
        <RollingFile name="rolling-file" fileName="logs/jputils.log" filePattern="logs/$${date:MM-yyyy}/jputils-%d{dd-MM-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{ABSOLUTE} [%t] %-5p %c{1} - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                <SizeBasedTriggeringPolicy size="25 MB"/>
            </Policies>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="rolling-file"/>
        </root>
    </loggers>
</log4j:configuration>
