<div>
    <div>
    <table>
    <tbody>
        <div style="display:table;" 
            ng-repeat="dir in directories">
            <directory-table expand="expand"
                depth="item"
                dir="dir"
                make-exam="makeExam"
                preview-category="previewCategory"
                expanded="dir == attachedTo">
            </directory-table>
            <div style="display:table;"
                ng-if="dir == attachedTo"
                ng-repeat="subdir in subitems">
                <directory-table dir="subdir"
                    depth="subitem"
                    make-exam="makeExam"
                    preview-category="previewSubCategory">
                </directory-table>
            </div>
        </div>
    </tbody>
    </table>
    </div>
    <div>
        <h3>Summary:</h3>
        <table>
            <tr ng-repeat="mode in summary">
                <td>{{ mode.type }} {{ mode.source }}</td>
                <td>
                <span class="badge badge-danger">{{ mode.size }}</span>
                </td>
                <td>
                    <button class="btn btn-sm btn-default"
                        ng-click="makeExam(previewDepth, mode.type, currentItem, mode.source);">
                        Run exam
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <h3>Reading unprocessed</h3>
    <preview preview-data="readingUnprocessed"></preview>
    <h3>Listening unprocessed</h3>
    <preview preview-data="listeningUnprocessed"></preview>
    <h3>Reading blacklist</h3>
    <preview preview-data="readingBlack"></preview>
    <h3>Listening blacklist</h3>
    <preview preview-data="listeningBlack"></preview>
    <h3>Reading whitelist</h3>
    <preview preview-data="readingWhite"></preview>
    <h3>Listening whitelist</h3>
    <preview preview-data="listeningWhite"></preview>
</div>