<div>
    <a href="#!/songs">Song analysis</a>
    <search></search>
    <div>
    <table>
    <tbody>
        <div style="display:table;" 
            ng-repeat="dir in directories">
            <directory-table expand="expand"
                depth="item"
                dir="dir"
                make-exam="makeExam"
                preview-category="previewCategory"
                expanded="dir == attachedTo">
            </directory-table>
            <div style="display:table;"
                ng-if="dir == attachedTo"
                ng-repeat="subdir in subitems">
                <directory-table dir="subdir"
                    depth="subitem"
                    make-exam="makeExam"
                    preview-category="previewSubCategory">
                </directory-table>
            </div>
        </div>
    </tbody>
    </table>
    </div>
    <div>
        <h3>Summary:</h3>
        <table>
            <tr ng-repeat="mode in summary">
                <td>{{ mode.type }} {{ mode.source }}</td>
                <td>
                <span class="badge badge-danger">{{ mode.size }}</span>
                </td>
                <td>
                    <button class="btn btn-sm btn-default"
                        ng-click="makeExam(previewDepth, mode.type, currentItem, mode.source);">
                        Run exam
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div ng-repeat="activity in activities">
        <div ng-repeat="phase in phases">
            <h3>{{activity}} {{phase}}</h3>
            <preview preview-data="data[activity][phase]"></preview>
        </div>
    </div>
</div>